/* -------------
    Fonts
----------------*/
/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Rubik:ital,wght@0,300;0,400;0,700;1,500&display=swap');
/* custom fonts */
@font-face {
    font-family: 'Conv_Now-Bold';
    src: url('../fonts/text-fonts/Now-Bold.ttf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Now';
    src: url('../fonts/text-fonts/now-regular.otf') format(truetype);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Now';
    src: url('../fonts/text-fonts/now-medium.otf') format(truetype);
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Now';
    src: url('../fonts/text-fonts/now-light.otf') format(truetype);
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Now';
    src: url('../fonts/text-fonts/now-thin.otf') format(truetype);
    font-weight: 200;
    font-style: normal;
}

/* -------------
    Reset Code
----------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Now';
    font-size: 16px;
    background: #fff;
    color: #525252;
    -webkit-font-smoothing: antialiased;
}
.container{
    width: 1170px;
    margin: 0 auto;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
/* colums */
.col-2 {
    flex: 0 0 16.67%;
    max-width: 16.67%;
}
.col-3 {
    flex: 0 0 25%;
    max-width: 25%;
}
.col-4 {
    flex: 0 0 33.33%;
    max-width: 33.33%;
}
.col-5 {
    flex: 0 0 41.67%;
    max-width: 41.67%;
}
.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}
.col-7 {
    flex: 0 0 58.33%;
    max-width: 58.33%;
}
.col-8 {
    flex: 0 0 66.67%;
    max-width: 66.67%;
}
.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}
/* ulitity */
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.tAlign-center{
    text-align: center;
}
.of-hidden{
    overflow: hidden;
}
.fw-medium{
    font-weight: 500 !important;
}
.fw-semiBold{
    font-weight: 600;
}
.fw-bold{
    font-weight: 700;
}
.fs-18{
    font-size: 18px;
}
.fs-19{
    font-size: 19px;
}
.fs-21{
    font-size: 21px;
}
.fs-25{
    font-size: 25px;
}
.fs-30{
    font-size: 30px;
}
.fs-40{
    font-size: 40px;
}
.fs-52{
    font-size: 52px;
}
.d-flex{
    display: flex;
}
.lh-26{
    line-height: 26px;
}
.lh-30{
    line-height: 30px;
}
.lh-35{
    line-height: 35px;
}
img{
    max-width: 100%;
}
/* margin */
.ml-8{
    margin-left: 8.33333333%;
}
.ml-9{
    margin-left: 9px;
}
.mr-15{
    margin-right: 15px;
}
.mt-20{
    margin-top: 20px;
}
.mt-30{
    margin-top: 30px;
}
.mt-40{
    margin-top: 40px;
}
.mb-10{
    margin-bottom: 10px;
}
.mb-15{
    margin-bottom: 15px;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-30{
    margin-bottom: 30px;
}
.mb-70{
    margin-bottom: 70px;
}
/* padding */
.ptb-90{
    padding: 90px 0;
}
.ptb-120{
    padding: 120px 0;
}
.pt-120{
    padding-top: 120px;
}
.pb-70{
    padding-bottom: 70px;
}
/* background colors */
.bg-Polar{
    background: #ebfafb;
}
.bg-white{
    background: #fff;
}
.bg-Whisper{
    background: #f9f9fc;
}
/* colors */
.text-deepSapphire{
    color: #062265;
}
.text-white{
    color: #fff !important;
}
.text-blueChill{
    color: #088999;
}
.text-doveGray{
    color: #666;
}
.text-Cerulean{
    color: #00b3d6;
}
.text-Boulder{
    color: #777777;
}
.text-Astronaut{
    color: #242f6c;
}
.text-MineShaft{
    color: #333;
}
.text-RobinEggBlue{
    color: #00d0d8;
}
.text-VividTangerine{
    color: #ff8b86;
}
.text-CornflowerBlue{
    color: #8168f6;
}
.text-TickleMePink{
    color: #fe89c4;
}
.text-Shamrock{
    color: #41cf85;
}
/* button */
.themeBtn{
    background-color: transparent;
    color: rgb(51, 122, 183);
    transition: 0.4s ease-in-out;
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -ms-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
    background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(rgb(0, 167, 213)), to(rgb(0, 222, 216)));
    display: inline-block;
    font-weight: 500;
    padding: 13px 30px;
    border: none;
    border-radius: 55px;
    text-transform: capitalize;
    box-shadow: rgb(200, 234, 245) 0px 0px 0px 5px;
    backface-visibility: hidden;
    line-height: 19px;
    outline: rgb(66, 153, 225) solid 0px !important;
}
.themeBtn:hover{
    background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(rgb(0, 222, 216)), to(rgb(0, 167, 213)));
}
/* title */
.headingTittle {
    font-family: 'Conv_Now-Bold';
    font-weight: 700;
    font-size: 40px;
    color: #242f6c;
    line-height: 60px;
}
/* -----------------
    Header Part Start
--------------------*/
.navAreaMain {
    height: 100px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.07);
    padding: 30px 0;
}
.navArea,
.logoArea {
    display: flex;
    justify-content: center;
}
.logoImg {
    width: 32px;
    height: 32px;
    margin-right: 10px;
}
.navAreaMenu ul {
    display: flex;
}
.navAreaMenu ul li {
    text-transform: capitalize;
    font-size: 17px;
    line-height: 20px;
    padding: 10px 15px;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
}
.navAreaMenu ul li:hover a{
    color: #029ca5;
}
/* -----------------
    Header Part End
--------------------*/

/* -----------------
    Slider Part Start
--------------------*/
.sliderMainArea {
    height: 900px;
    background: url(../image/bg.png) no-repeat center center / cover;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.sliderTextArea{
    position: relative;
    z-index: 1;
    margin-top: 145px;
}
.sliderTextArea::before {
    content: "";
    position: absolute;
    left: -200px;
    top: -10px;
    width: 468px;
    height: 336px;
    background: url(/assets/image/bg2.png) no-repeat center center / cover;
    z-index: -1;
}
.sliderTextShortTittle {
    display: inline-block;
    text-transform: capitalize;
    padding: 7px 20px 4px 20px;
    border-radius: 20px;
    line-height: 23px;
}
.sliderTextTittle {
    font-family: 'Conv_Now-Bold';
    line-height: 80px;
}
.sliderImageArea {
    position: absolute;
    top: 20%;
    right: 20px;
    width: 565px;
    height: 565px;
    z-index: 11;
}
.imgAnimatedBorder {
    position: absolute;
    left: 0;
    top: -50px;
    width: 565px;
    height: 565px;
    z-index: -1;
}
.imgAnimatedBorder::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px dashed #4897aa;
    border-radius: 50%;
    animation: circle 60s linear infinite;
    -webkit-animation: circle 60s linear infinite;
}
.imgAnimatedBorderIcon {
    width: 95px;
    height: 95px;
    background: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 95px;
    position: absolute;
    top: 50%;
    left: -45px;
    transform: translateY(-50%);
    box-shadow: 0px 2px 12.75px 2.25px rgb(51 100 219 / 15%);
}
.imgAnimatedBorderIcon:nth-child(1) {
    line-height: 115px;
}
.imgAnimatedBorderIcon:nth-child(2) {
    top: 20%;
    left: 0;
    line-height: 80px;
}
.imgAnimatedBorderIcon:nth-child(3) {
    top: 5px;
    left: 25%;
}
.imgAnimatedBorderIcon:nth-child(4) {
    left: auto;
    right: 25%;
    top: 5px;
}
.imgAnimatedBorderIcon:nth-child(5) {
    top: 20%;
    left: auto;
    right: 0;
}
.imgAnimatedBorderIcon:nth-child(6) {
    left: auto;
    right: -45px;
    line-height: 115px;
}
.fi:before {
    margin: 0;
}
.imgAnimatedBorderIcon:nth-child(1) .fi {
    color: #ffb394;
}
.imgAnimatedBorderIcon:nth-child(2) .fi {
    color: #00c1d6;
}
.imgAnimatedBorderIcon:nth-child(3) .fi {
    color: #ff9381;
}
.imgAnimatedBorderIcon:nth-child(4) .fi {
    color: #4cdbe3;
}
.imgAnimatedBorderIcon:nth-child(5) .fi {
    color: #9768f9;
}
.imgAnimatedBorderIcon:nth-child(6) .fi {
    color: #00b3d6;
}
/* border round animatied */
@keyframes circle{
    0%{
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}
/* Image Animated */
.sliderImageArea img{
    animation: Imgbounce 3s linear infinite;
    -webkit-animation: Imgbounce 3s linear infinite;
}
@keyframes Imgbounce{
    0%{
        transform: translateY(0) translateX(0);
        -webkit-transform: translateY(0) translateX(0);
        -moz-transform: translateY(0) translateX(0);
        -ms-transform: translateY(0) translateX(0);
        -o-transform: translateY(0) translateX(0);
    }
    50%{
        transform: translateX(7px) translateY(15px);
        -webkit-transform: translateX(7px) translateY(15px);
        -moz-transform: translateX(7px) translateY(15px);
        -ms-transform: translateX(7px) translateY(15px);
        -o-transform: translateX(7px) translateY(15px);
    }
    100%{
        transform: translateX(0) translateY(0);
        -webkit-transform: translateX(0) translateY(0);
        -moz-transform: translateX(0) translateY(0);
        -ms-transform: translateX(0) translateY(0);
        -o-transform: translateX(0) translateY(0);
    }
}
/* -----------------
    Slider Part End
--------------------*/

/* -----------------
    About Part Start
--------------------*/
.aboutArea .row{
    align-items: center;
    justify-content: center;
}
.aboutShortTittle,
.eventShortTittle {
    display: inline-block;
    text-transform: capitalize;
}
.videoHolder {
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    box-shadow: 0px 2px 12.75px 2.25px rgb(51 100 219 / 15%);
    display: block;
    margin: 0 25px;
}
.videoText {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
}
.videoText a{
    border-bottom: 2px solid #08b3c0;
}
/* -----------------
    About Part End
--------------------*/

/* -----------------
    Prayer Part Start
--------------------*/
.prayerTimerSection {
    background: -webkit-linear-gradient(1deg, rgb(234, 248, 254) 0%, rgb(237, 254, 244) 100%);
    padding: 70px;
    position: relative;
    z-index: 1;
}
.timerTextShortTittle {
    font-family: 'Conv_Now-Bold';
    font-size: 45px;
    line-height: 50px;
    text-transform: capitalize;
}
.timerTextDate {
    text-decoration: underline;
}
.prayerTimerList ul li {
    display: flex;
    justify-content: space-around;
    padding: 15px 25px;
    border-radius: 10px;
}
.prayerTimerList ul li:nth-child(1){
    background: -webkit-linear-gradient(1deg, rgb(14, 230, 241, .25) 0%, rgb(12, 159, 254, .25) 100%);
    background: -moz-linear-gradient(1deg, rgb(14, 230, 241, .25) 0%, rgb(12, 159, 254, .25) 100%);
    position: relative;
    right: -70px;
    color: #02a0a5;
}
.prayerTimerList ul li:nth-child(2){
    background: -webkit-linear-gradient(173deg, rgb(255, 173, 111, .25) 0%, rgb(255, 125, 144, .25) 100%);
    background: -moz-linear-gradient(173deg, rgb(255, 173, 111, .25) 0%, rgb(255, 125, 144, .25) 100%);
    color: #df8f73;
}
.prayerTimerList ul li:nth-child(3){
    background: -moz-linear-gradient(179deg, rgb(216, 205, 255, .25) 0%, rgb(109, 100, 255, .25) 100%);
    background: -webkit-linear-gradient(179deg, rgb(216, 205, 255, .25) 0%, rgb(109, 100, 255, .25) 100%);
    background: -ms-linear-gradient(179deg, rgb(216, 205, 255, .25) 0%, rgb(109, 100, 255, .25) 100%);
    position: relative;
    right: -70px;
    color: #6d64ff;
}
.prayerTimerList ul li:nth-child(4){
    background: -moz-linear-gradient(179deg, rgb(164, 228, 150, .25) 0%, rgb(23, 207, 137, .25) 100%);
    background: -webkit-linear-gradient(179deg, rgb(164, 228, 150, .25) 0%, rgb(23, 207, 137, .25) 100%);
    background: -ms-linear-gradient(179deg, rgb(164, 228, 150, .25) 0%, rgb(23, 207, 137, .25) 100%);
    color: #44a884;
}
.prayerTimerList ul li:nth-child(5){
    background: -moz-linear-gradient(179deg, rgb(254, 208, 237, .25) 0%, rgb(255, 116, 181, .25) 100%);
    background: -webkit-linear-gradient(179deg, rgb(254, 208, 237, .25) 0%, rgb(255, 116, 181, .25) 100%);
    background: -ms-linear-gradient(179deg, rgb(254, 208, 237, .25) 0%, rgb(255, 116, 181, .25) 100%);
    color: #ee76ba;
    position: relative;
    right: -70px;
}
.prayerTimerList ul li:nth-child(6){
    background: -moz-linear-gradient(1deg, rgb(14, 230, 241, .25) 0%, rgb(12, 159, 254, .25) 100%);
    background: -webkit-linear-gradient(1deg, rgb(14, 230, 241, .25) 0%, rgb(12, 159, 254, .25) 100%);
    background: -ms-linear-gradient(1deg, rgb(14, 230, 241, .25) 0%, rgb(12, 159, 254, .25) 100%);
    color: #419fa2;
    margin-bottom: 0;
}
.timerShape1 {
    position: absolute;
    left: -50px;
    bottom: -50px;
    z-index: -1;
}
.timerShape2 {
    position: absolute;
    left: 18%;
    bottom: 50px;
    z-index: -1;
}
.timerShape3 {
    position: absolute;
    left: -16%;
    bottom: 0px;
    z-index: -1;
}
/* -----------------
    Prayer Part End
--------------------*/

/* -----------------
    Service Part Start
--------------------*/
.serviceMainArea {
    background: url(../image/Service/bg.png) no-repeat center center / cover;
    padding: 200px 0;
}
.serviceShortTittle {
    text-transform: capitalize;
    padding: 8px 25px;
    box-shadow: 0px 0px 9px 1px rgb(51 100 219 / 10%);
    border-radius: 20px;
    display: inline-block;
}
.serviceRoutineTable ul {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2px;
    border-radius: 5px;
    box-shadow: 0px 0px 9px 1px rgb(51 100 219 / 10%);
}
.serviceRoutineHead{
    background: -moz-linear-gradient(173deg, rgb(255, 173, 111, .8) 0%, rgb(255, 125, 144) 100%);
    background: -webkit-linear-gradient(173deg, rgb(255, 173, 111, .8) 0%, rgb(255, 125, 144) 100%);
    background: -ms-linear-gradient(173deg, rgb(255, 173, 111, .8) 0%, rgb(255, 125, 144) 100%);
}
.serviceRoutineTable ul li{
    padding: 15px;
    flex-basis: 33.33%;
}
.serviceBtn{
    box-shadow: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 16px 30px 14px 30px;
}
.serviceImgSection {
    width: 537px;
    position: relative;
    right: -45px;
    top: 80px;
}
.serviceImgSection2 {
    position: relative;
    left: -200px;
    right: auto;
    width: 130%;
}
.counterGrid {
    float: left;
    width: 31%;
    text-align: center;
    margin: 0 10px 10px 0;
}
.counterGrid h2{
    font-family: 'Conv_Now-Bold';
}
.counterGrid p {
    text-transform: capitalize;
    text-align: center;
}
/* -----------------
    Service Part End
--------------------*/

/* -----------------
    Pilars Part Start
--------------------*/
.pilarsArea{
    padding: 80px;
}
.pilarsAreaMainContent {
    overflow: hidden;
    padding: 20px 0;
}
.pilarsAreaContentGrid {
    float: left;
    width: 20%;
}
.pilarsImg {
    width: 165px;
    height: 165px;
    border-radius: 50%;
    background: rgb(248, 254, 254);
    text-align: center;
    margin: 0 auto;
    line-height: 280px;
    overflow: hidden;
    box-shadow: 0px 5px 15px 0px rgb(0 0 0 / 10%);
}
.pilarsImg img {
    transform: scale(1);
    transition: all .3s;
    width: 100%;
}
.pilarsImg:hover img{
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}
.pilarsText h2 {
    text-align: center;
    text-transform: capitalize;
    font-family: 'Conv_Now-Bold';
}
/* -----------------
    Pilars Part End
--------------------*/

/* -----------------
    Event Part Start
--------------------*/
.eventHeadingTittle{
    text-transform: capitalize;
}
.eventItemImg {
    position: relative;
    float: left;
}
.eventItemImg img {
    width: 270px;
    height: 296px;
}
.eventItemText {
    background: #fff;
    box-shadow: 0px 5px 9.8px 0.2px rgb(85 85 85 / 7%);
    padding: 34px 30px;
    overflow: hidden;
}
.eventThumbText {
    background: url(../image/Event/img-1.png) no-repeat center center / cover;
    position: absolute;
    top: -8px;
    left: 0;
    width: 60px;
    height: 85px;
    text-align: center;
    padding: 4px 8px 0 0;
}
.eventThumbText2{
    background: url(../image/Event/img-2.png) no-repeat center center / cover;
}
.eventItemTextTittle {
    font-family: 'Conv_Now-Bold';
    text-transform: capitalize;
    margin-top: 0;
    display: inline-block;
}
.eventItemTextTiming {
    align-items: center;
}
.eventItemTextTiming li {
    font-size: 14px;
    margin-right: 20px;
}
.eventItemTextTiming li i{
    font-size: 15px;
    margin-right: 10px;
}
.eventItemText a{
    color: #0383c4;
    text-transform: capitalize;
}
/* -----------------
    Event Part End
--------------------*/